<!DOCTYPE html>
<html ng-app="housesApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>大华锦绣海岸_海南易居</title>
<meta name="keywords" content="大华锦绣海岸" />
<meta name="description" content="大华锦绣海岸项目是由中国房地产百强企业的上海大华集团倾力打造。上海大华集团连续6年入围中国最大500强企业集团，连续3年被评为上海市房地产开发企业50强。 大华锦绣海岸项目总" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/skin/css/housesdetail.css">
<link rel="stylesheet" href="/skin/css/bootstrap.css">
<link rel="stylesheet" href="/skin/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/skin/css/base.css" />
<link rel="stylesheet" href="/skin/css/common.css" />
<link rel="stylesheet" href="/skin/css/main.css" />
<link rel="stylesheet" href="/skin/css/mask.css">
<link rel="stylesheet" href="/skin/css/dialog.css">
<link rel="stylesheet" href="/skin/css/header.css">
<link rel="stylesheet" href="/skin/css/backtop.css">
<link rel="stylesheet" href= "/skin/css/footer.css">


</head>
<body>

<!-- login --> 
<!-- container: begin -->
<div id="container"> 
                          <!-- header: begin --> 
                          <div id="header" name="header" class="cf">
			<div class="headerBox">
				<div class="fl">
					<ul class="nav cf">
						<li class="haowu_icon"><a href="/"><img src="/skin/images/haowu_across.png" alt=""></a></li>
			
						<li  ><a href="/">首页</a></li>
						<li class='hover'><a href='/a/loupan/'>楼盘</a></li><li><a href="/a/news/" class="" target="_self">资讯</a></li><li><a href="/a/tuangou/" class="" target="_self">团购</a></li>
					</ul>
				</div>
				<div class="login fr">
					<div class="group filter-input has-feedback">
                        <form name="formsearch" action="/plus/search.php">
                            <input type="hidden" name="kwtype" value="0" />
                            <input name="q" type="text" id="search-keyword" class="form-control filter-input  searchkey" value="" placeholder="请输入楼盘名/资讯等"/>

                            <button type="submit" class="glyphicon glyphicon-search form-control-feedback pointer" style="background:none; border:none; color:#333"></button>
                        </form>
                    </div>
				</div>
                <div class="tel fr">TEL:400-835-8888</div>
			</div>
</div> 
                          <!-- header: end --> 
                          
                          <!-- main: begin -->
                          <div id="main">
    <div class="houses-info">
                              <div class="container">
        <h5><a href='http://127.0.0.38/'>首页</a>><a href='/a/loupan/'>楼盘</a>><a href='/a/loupan/haikou/'>海口</a>>大华锦绣海岸</h5>
        <div class="abstract-body default-border">
                                  <div class="abstract-img">
            <div class="buy-type"></div>
                                    <div class="abstract-img-list-hidden">
                                    <img src='/uploads/allimg/160124/1-1601241P4570-L.jpg' />
                                    </div>
            
          </div>
                                  <div class="abstract-info">
            <h1><span title="">大华锦绣海岸</span>
                                      
                                    </h1>
            <p> 开盘价格：
                                      <label class="default-color unit">7180元/m²</label>
                                       </p>
            <p> 楼盘均价：
                                      <label class="default-color">7800元/m² </label>
                                    </p>
            <!--
                            <p>
                                易居独家优惠：
                                <label class="default-color"></label>
                            </p>
                            -->
            <p> 楼盘地址：海口市秀英区滨海大道369号 <span class="glyphicon glyphicon-map-marker c"></span> </p>
            <!--
                        <p>
                            主力户型：
                                                    </p>-->
            
            <p class=""> 
            
            
            
            <span class="tag">住宅</span> 
            
            <span class="tag">养生社区</span> 
            
            <span class="tag">别墅</span> 
            
            <span class="tag">热销小户型</span> 
            
            
            
            </p>
            <p>
              <a class="look-button loginLookButton" data-reveal-id="myModal">免费预约看房</a>
            </p>
          </div>
                                </div>
      </div>
                            </div>
    <div class="container default-border tab-box tag-detail">
                              <div>
        <ul class="detail-tab pull-left">
                                  <li class="active" to-target=".tag-detail"> 楼盘详情 <img src="/skin/images/arrow.png" alt=""/> </li>
                                  <li class="a"> 独家优惠 </li>
                                  <li class="houseAlbumArea b"> 楼盘相册 </li>
                                  <li class="c"> 楼盘地图 </li>
                                </ul>
        <div class="tel-box pull-right default-color"> <img src="/skin/images/tel.png" alt=""/> 400-835-8888 </div>
      </div>
                            </div>
    <div class="container default-border houses-detail">
                              <table class="table">
        <colgroup width="100">
                                </colgroup>
        <colgroup width="400">
                                </colgroup>
        <colgroup width="100">
                                </colgroup>
        <tr>
                                  <th>楼盘类型：</th>
                                  <td>养老房</td>
                                  <th>装修状况：</th>
                                  <td>毛坯</td>
                                </tr>
        <tr>
                                  <th>建筑面积：</th>
                                  <td>117513 </td>
                                  <th>绿化率：</th>
                                  <td>40%</td>
                                </tr>
        <tr>
                                  <th>容 积 率：</th>
                                  <td>1.75 </td>
                                  <th>交房时间：</th>
                                  <td>2018年04月30日</td>
                                </tr>
        <tr>
                                  <th>开盘时间：</th>
                                  <td>2014-10-01</td>
                                  <th>物业公司：</th>
                                  <td>大华物业</td>
                                </tr>
        <tr>
                                  <th>物 业 费：</th>
                                  <td>暂无资料元/平方米·月</td>
                                  <th>预售许可证：</th>
                                  <td></td>
                                </tr>
        <tr>
                                  <th>开 发 商：</th>
                                  <td>上海大华集团</td>
                                  <th>售楼地址：</th>
                                  <td>海口市秀英区滨海大道369号</td>
                                </tr>
        <!--<tr>
                    <th>物业地址：<br/><br/></th>
                    <td><br/><br></td>
                    <th></th>
                    <td></td>
                </tr>
                <tr class="top-border">
                    <th>交通状况：</th>
                    <td colspan="3"></td>
                </tr>-->
        <tr class="top-border">
                                  <th>项目特色：</th>
                                  <td colspan="3">
                                  <div class="content">&nbsp;大华锦绣海岸项目是由中国房地产百强企业的上海大华集团倾力打造。上海大华集团连续6年入围中国最大500强企业集团，连续3年被评为上海市房地产开发企业50强。<br />
大华锦绣海岸项目总占地约1098亩，位于海南省海口市西海岸高端度假区，毗邻新行政中心，汇聚22公里景观海岸线、7公里体育休闲长廊、五星级度假酒店群、高尔夫球场、4000多亩五源河森林公园以及城市新地标&mdash;&mdash;海南国际会展中心等城市最高端生活度假资源。项目基地北至滨海大道，西至粤海大道，东至长滨六路，南至规划中的长椰路。北面是规划中的低密度旅馆区。东临创意园区，游艇区。基地距离海岸线约700米，离海口市政府新行政中心约1.5公里，离市中心约12公里，离海口火车站约5公里，距海口美兰国际机场约35公里。<br />
&nbsp; &nbsp; &nbsp; &nbsp; 大华锦绣海岸项目一期总占地面积为56336㎡；总建筑面积约117513㎡，容积率为1.75，绿化率为40%，共1044户，987个车位。&nbsp;</div><span class="tag-group switch">【查看更多】</span>
                                  </td>
                                </tr>
      </table>
                            </div>
    <div class="container tgyh">
                              <div class="group-title"> <img src="/skin/images/group.png" alt=""/> 独家优惠 </div>
                              <div class="group-body default-border"> 

        
        <div class="coupon-list ">
                                  <div class="coupon-item bn top-border">
            <div class="coupon-info"> <img src="/skin/images/group_coupon.png" alt=""/>
                                      <div class="coupon-info-right">
                <h4>
                                          <label><span class="default-color">【易居专享】</span>团购券</label>
                                        </h4>
                <p class="default-color product-text">  </p>
                <p>项目起价7498元/平，均价8050元/平，全款享84折优惠，按揭享86折，在售面积为58-135平一至三室户型，其中三室户型6楼以上可瞰海，项目预计2016年6月交房。  |  注：如果登录手机已经在案场报备，将不能享受此优惠不适用</p>
                <p></p>
              </div>
                                    </div>
            <div class="coupon-sale ">
                                     
                                      <button class="default-background buy-coupon" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=541475789&site=qq&menu=yes')">立即咨询</button>
                                      
                                    </div>
            </div>
                                </div>
           </div>
                            </div>
       <div class="container houseAlbumArea bbox">
                              <div class="group-title"> <img src="/skin/images/photo.png" alt=""/> 楼盘相册 </div>
                              <div class="default-border photo-box">
        <div class="photo-tab">
           <ul id="tab">
            <li id="tab_1" onclick="switchTab(1)">楼盘图片</li>
            <li id="tab_2" onclick="switchTab(2)">楼盘户型</li>
          </ul>
        </div>
        <div id="tab_con">
        <div class="photo-list" id="tab_con_1">
            <div class="player-button pull-left"> <img src="/skin/images/left-gray.png" alt=""/> </div>
            <div class="photo-list-hidden">
            <div class="photo-list-body baguetteBoxOne gallery">
                                      
                                      
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241P934.png">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241P934.png" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241P936.png">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241P936.png" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241P937.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241P937.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241P938.png">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241P938.png" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241P939.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241P939.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241P941.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241P941.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                
              
             </div>
          </div>
          <div class="player-button pull-right"> <img src="/skin/images/right-gray.png" alt=""/> <span class="tag-rim">&nbsp;</span> </div>
          </div>
        <div class="photo-list" id="tab_con_2" style="display:none">
            <div class="player-button pull-left"> <img src="/skin/images/left-gray.png" alt=""/> </div>
            <div class="photo-list-hidden">
            <div class="photo-list-body baguetteBoxOne gallery">
                                      
                                      
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241PS6.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241PS6.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241PS7.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241PS7.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241PT0.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241PT0.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241PT3.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241PT3.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241PT6.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241PT6.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241PT9.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241PT9.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                                       
               <div class="text-center" ng-repeat="item in photoList">
               <a href="/uploads/allimg/160124/1-1601241PU2.jpg">
               <div class="pic"><img src="/uploads/allimg/160124/1-1601241PU2.jpg" data-index="0" width="320"></div>
                <div class="photo-intro">
                      <p></p>
                </div>
                </a>
              </div>
                
              
             </div>
          </div>
          <div class="player-button pull-right"> <img src="/skin/images/right-gray.png" alt=""/> <span class="tag-rim">&nbsp;</span> </div>
         </div>
         </div>
      </div>
        </div>
       <div class="container cbox">
                              <div class="group-title"> <img src="/skin/images/traffic.png" alt=""/> 楼盘地图 </div>
                              <div class="default-border" style="height:500px;"> 
        <!-- 地图内容区 -->
       
      
        <div style=" width:100%; height:500px;" id="allmap"></div>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=9xHKj5k02U5Fl4g1h3nbYX4n"></script>
<script type="text/javascript">
	// 百度地图API功能
	var sContent =
	"<div class='t_box'><div class='boxt'><h3 class='all366C'>[<a href=''>海口</a>]大华锦绣海岸</h3><img src='/skin/images/shou3.gif' width='49' height='19'></div><div class='boxm'><div class='m1'><div class='txt'><ul><li><em>起  价：</em>7180元/㎡</li><li><em>装修情况：</em>毛坯</li><li><em>咨询热线：</em><i>400-835-8888</i></li><li><em>楼盘地址：</em>海口市秀英区滨海大道369号</li></ul></div><div class='pic'><img src='/uploads/allimg/160124/1-1601241P4570-L.jpg' width='151' height='99'></div></div><div class='m2'></div></div></div>" + 
	"</div>";
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(110.182375,20.056401);
	var marker = new BMap.Marker(point);
	var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
	
	
	
	map.centerAndZoom(point, 16);
	map.addOverlay(marker);
	marker.addEventListener("click", function(){          
	   this.openInfoWindow(infoWindow);
	   //图片加载完毕重绘infowindow
	   document.getElementById('imgDemo').onload = function (){
		   infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
	   }
	});
</script>
      </div>
                              
                              <!-- advertisement: begin -->
                              <div class="interest">
        <h4>你可能感兴趣的楼盘</h4>
        <div class="interest-list">
         <div class="interest-item ng-scope"> <a href="/plus/view.php?aid=398" target="_blank"> <img src="/uploads/allimg/160127/1-16012H24S60-L.jpg" height="240" width="320" alt="">
            <div class="interest-title">三亚
            <div class="tab-list pull-right"> </div>
          </div>
            <div class="interest-info">
            <label>一山湖</label>
            <div>
                <label class="unit pull-right"><span>13800</span>元/m²</label>
              </div>
          </div>
            </a> </div>
<div class="interest-item ng-scope"> <a href="/plus/view.php?aid=399" target="_blank"> <img src="/uploads/allimg/160127/1-16012H340100-L.jpg" height="240" width="320" alt="">
            <div class="interest-title">三亚
            <div class="tab-list pull-right"> </div>
          </div>
            <div class="interest-info">
            <label>君和君泰</label>
            <div>
                <label class="unit pull-right"><span>13000</span>元/m²</label>
              </div>
          </div>
            </a> </div>
<div class="interest-item ng-scope"> <a href="/plus/view.php?aid=400" target="_blank"> <img src="/images/defaultpic.gif" height="240" width="320" alt="">
            <div class="interest-title">三亚
            <div class="tab-list pull-right"> </div>
          </div>
            <div class="interest-info">
            <label>天惠仙岭郡</label>
            <div>
                <label class="unit pull-right"><span>8800</span>元/m²</label>
              </div>
          </div>
            </a> </div>
 
          </div>
      </div>
                              <!-- advertisement: end --> 
      </div>
    
    
    

    
    <!-- widget -->
    <div class="widget"> <a href="/m" class="phone"> <img src="/skin/images/phone.png" alt=""> <span>手机版</span> </a> <a href="javascript:void(0);" class="backTop"> <img src="/skin/images/backtop.png" alt=""> </a> </div>
    <!-- widget --> 
    
  </div>
      <!-- main: end --> 
      <!-- footer: begin --> 
      
      <div id="footer">
    		<div class="footer_contain cf">
                
                <p>Copyright © 2012 - 2016 hnyiju.com. All Rights Reserved. 海南易居地产有限公司版权所有&nbsp;琼ICP备14021288号-1

                </p>
                <div class="flink">友情链接：<li><a href='http://www.dedecms.com' target='_blank'>织梦CMS官方</a> </li><li><a href='http://www.fangcms.cn' target='_blank'>易居房产系统</a> </li><li><a href='http://www.dede58.com' target='_blank'>织梦58</a> </li><li><a href='http://www.bieshu58.com' target='_blank'>三亚别墅</a> </li></div>
                
       
            </div>
</div>
<script type="text/javascript" src="/skin/js/jquery-1.8.3.min.js"></script>
<script src="/skin/js/backtop.js"></script> 
      <!-- footer: end --> 
      
    </div>
<!-- container: end -->

<link rel="stylesheet" href="/skin/css/reveal.css">	
<script type="text/javascript" src="/skin/js/jquery.reveal.js"></script>
<script type="text/javascript" src="/skin/js/article.js"></script>

<link rel="stylesheet" href="/skin/css/baguettebox.min.css">
<script src="/skin/js/baguettebox.min.js"></script>
<script type="text/javascript">
baguetteBox.run('.baguetteBoxOne', {
    animation: 'fadeIn',
});
</script>
<script type="text/javascript" src="/skin/js/housesDetail.js"></script>
<div id="myModal" class="reveal-modal">
    <div class="modal-background">
        <div class="photo-detail">
        <div class="order-box default-color">
            <h4><span class="close-order pointer close-reveal-modal"></span> 预约看房 </h4>
            <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
                <input type="hidden" name="action" value="post">
                <input type="hidden" name="diyid" value="1">
                <input type="hidden" name="do" value="2">
            <table class="table">
            <colgroup width="140"></colgroup>
            <tr>
                                      <th>您的姓名：</th>
                                      <td><input type="text" class="form-control" id="bm_fmname" name="bm_fmname" value=""/></td>
            </tr>
            <tr>
                                      <th>联系方式：</th>
                                      <td><input type="text" class="form-control" id="bm_fmtel" name="bm_fmtel" value=""/></td>
            </tr>

          </table>
                  <div class="text-center">
                  <input type="submit" class="btn" name="submit" value="提交">
                  </div>
                  <input type="hidden" name="mytime" id="mytime">
                  <textarea name="bm_fmbeizhu" id="bm_fmbeizhu" cols="" rows="" class="itext" style=" display:none">该用户正用PC看《大华锦绣海岸》</textarea>
                  <input type="hidden" name="dede_fields" value="bm_fmname,text;bm_fmtel,text;bm_fmbeizhu,multitext;mytime,text;dytime,text">
                  <input type="hidden" name="dede_fieldshash" value="85e2a498b370e32e6234a487cca8f75c">
          </form>                
          </div>
      </div>
      </div>
     </div>
</body>
</html>